
		body {-webkit-hyphens: manual; -ms-hyphens: manual; hyphens: manual; text-align: center;}

		header { padding: 1.5em 0 .5em; box-shadow: 0px 1px 0px 5px rgba(0,0,0,0.59); 	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.59); -moz-box-shadow: 0px 1px 3px 3px rgba(0,0,0,0.59);}

		h1, h2, h3, h4, h5,h6{font-family: 'Bebas Neue', cursive; text-align:center;}
    		.bio{padding: 1em; max-width: 700px; margin: 0 auto; display: block; text-align: left;}
		.bio h5{text-align: left}
    		#emContstrucao{padding:1em; display: block; margin: 0 auto; text-align:center;}
		.card{border:none; margin-bottom: .25em;float:left}
		.card .card-body a{color: #9ea5b5;}
		.card .card-body a:hover{color: #2f2f2f}
		#emContstrucao a{padding: .25em; color: #9ea5b5; border: solid 1px; display: inline-flex;}
		#emContstrucao a:hover{background: #9ea5b5; color: #2f2f2f}
		.card-group{margin-top:2em;}
		.card{background: none; text-align:left; border: solid: 1px; display:block;}
		.card-body{padding: 1em;}
		.card-title, .card-text{ font-family: 'Open Sans', sans-serif; display: block;}
		.card-title{display:block; font-size: 1em: font-weight: bold;}
		.card-title {text-align: left;}
		.card-text{margin: 0 auto; font-size:0,75em;word-break: break-word;}
		.container-fluid img {
		    max-height: 350px;
		}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	
	.card-body {
		    padding: .25em 1em;
		}
	.container .card-group .card img.card-img-top {
	    width: 25%!important;
	   margin: 0 ; float:left;	
	    display: block;
	}
	.container .card-group .card .card-body{
	    width: 75%!important;
	   margin: 0 ; float:left;	
	    display: block;
	}
	
	.container .card-group .card .card-footer {
	    float: left;
	    display: block;
	    width: 100%;
	    padding: .2em 1em;
	}
	
	.container .card-group .card .card-body p{
	}
	
	.container-fluid img {
		    max-height: 150px;
		}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { ... }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { ... }

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }

/*Extra large devices (large desktops)*/
/*No media query since the extra-large breakpoint has no upper bound on its width*/
